<div class="container">
  <div class="form__header">
    <div class="header__left">
      <button type="button" mat-icon-button matTooltip="Volver" (click)="exit()">
        <mat-icon>clear</mat-icon>
      </button>
      <p class="header__subtitle">{{ edit ? 'Editar ' : 'Agregar ' }} Rutina</p>
    </div>
    <button
      (click)="edit ? editRoutine() : addRoutine()"
      mat-raised-button
      color="primary"
      tabindex="6"
    >
      Guardar
    </button>
  </div>
  <mat-divider></mat-divider>
  <app-form-routine
    [routine]="routine"
    [edit]="edit"
    [showImportRoutine]="true"
    #formRoutine
  ></app-form-routine>
</div>
