<div class="container">
  <div class="form__header">
    <div class="header__left">
      <button type="button" mat-icon-button matTooltip="Volver" (click)="exit()">
        <mat-icon>clear</mat-icon>
      </button>
      <p class="header__subtitle">{{ edit ? 'Editar ' : 'Agregar ' }} Receta</p>
    </div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="edit ? editRecipe() : addRecipe()"
      tabindex="6"
    >
      Guardar
    </button>
  </div>
  <mat-divider></mat-divider>
  <app-form-recipe [recipe]="recipe" [edit]="edit" #formRecipe></app-form-recipe>
</div>
