<div class="form__input padding-10">
  <div class="column" style="flex: 3">
    <h3 class="no-margin question">{{ text }}</h3>
  </div>

  <div class="column">
    <h3 class="no-margin">{{ goodAnsweredPercentage }}%</h3>
    <img class="icon-img" src="assets/images/glad.png" />
  </div>
  <div class="column">
    <h3 class="no-margin">{{ neutralAnsweredPercentage }}%</h3>
    <img class="icon-img" src="assets/images/normal.png" />
  </div>

  <div class="column">
    <h3 class="no-margin">{{ badAnsweredPercentage }}%</h3>
    <img class="icon-img" src="assets/images/sad.png" />
  </div>

  <div class="column">
    <h3 class="no-margin">{{ notAnsweredPercentage }}%</h3>
    <img class="icon-img" src="assets/images/no-feedback.png" />
  </div>
</div>
