<div class="container">
  <div class="crud__header">
    <p class="header__subtitle">Pacientes</p>
    <mat-form-field appearance="standard" class="input__search">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter()" placeholder="Ej. Juan" #input autocomplete="off" [(ngModel)]="search" />
    </mat-form-field>
    <div>
      <button class="margin-button" mat-raised-button color="primary" (click)="goToLinkPatientsToEmployees()">Vincular Muchos</button>
      <button class="margin-button" mat-raised-button color="primary" (click)="importPatient()">Importar Paciente</button>
      <button class="margin-button" mat-raised-button color="primary" (click)="addPatient()">Nuevo Paciente</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="crud__main">
    <app-table
      [tableStructure]="tableStructure"
      [indexDisplay]="indexDisplay"
      [dataSource]="dataSource"
      [loading]="isLoadingResults"
      [viewShow]="true"
      [limit]="limit"
      [page]="page"
      [total]="total"
      [sortActive]="'name'"
      [isRowOffline]="isRowOffline"
      (onClick)="viewPatient($event)"
      (reset)="resetTable()"
      (changePage)="changePage($event)"
      (changeSort)="changeSort($event)"
      (view)="viewPatient($event)"
      (info)="openInfoPatient($event)"
      (edit)="editPatient($event)"
      (delete)="deletePatient($event)"
    >
    </app-table>
  </div>
</div>
